<div class="container">
  <div class="row">
    <div class="leftAreaTitle">
      <h3 style="margin-bottom: 2px; font-weight: 600;">이재환</h3>
      <h5>Windows .NET 클라이언트 개발자</h5>
    </div>
    <div class="rightAreaTitle" itemscope itemtype="http://schema.org/Person">
      <!--<ul class="icons no-print">
                <li>
                  <a aria-label="My Blog" target="_blank" href="https://hwanine.github.io/"><i class="icon fa fa-circle" aria-hidden="true"></i></a> 
            </a>
          </li><li>
            <a aria-label="My Github" target="_blank" href="https://github.com/hwanine/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a> 
          </li>
        
      </ul>-->
      <p>
          Email: <a href="mailto:ljh951103@naver.com" target="_blank">ljh951103@naver.com</a>
      <br>
          Tech Blog: 
      <a href="https://hwanine.github.io/" target="_blank" class="">https://hwanine.github.io/</a>
      <br>
          Github: 
      <a href="https://github.com/hwanine/" target="_blank" class="">https://github.com/hwanine/</a>
        </p></div>

</div>   <h4> About Me </h4>
        <hr class="lineborderTop">

    <div class="myIntro">
      <div class="leftArea">
      	<p style="text-align: left;">
          <img id="photo" alt="photo" src="/me2.png" style="border-radius: 50%;">
    </div>
    <div class="rightArea">
      안녕하세요, 저는 현재 셀바스AI에서 근무하고있으며, AI음성인식 제품의 클라이언트 개발을 담당하여 업무를 수행하고있습니다.<br><br>
      주로 Windows 애플리케이션과 기능 모듈들을 개발하고 있고 제품에 잘 융합 되도록 하여 최고의 제품으로 발전하도록 기여 하고 있습니다.<br>
      개발 뿐만 아니라 제품을 필요로하는 다양한 공공기관이나 법률, 의료 등의 고객사에 공급하여 시스템 유지보수와 서비스를 운영관리하고 있습니다.<br><br>
      이렇듯 개발부터 출시, 운영까지의 과정에 참여하며 사용자에게 더 나은 제품은 어떠한 제품인지 끊임없이 고민하고 개선점을 도입하고자 노력하고 있으며, 이러한 과정을 통해 사용자 친화적인 제품을 개발하는 것이 저의 개발자로서의 가장 큰 목표이자 지향점입니다.
      </div>
      
      <!--
        <br>
        <h2><p style="text-align: left;">School days</p></h2>

        <p style="text-align: left;">&#8226; Identity: Changwon National University, Computer Engineering, B.S.(Bachelor of Science) <br>
        &#8226; Overall GPA(총점) : 3.76/4.5<br>
        &#8226; Major GPA(전공 학점) : 4.2/4.5 </p><br>

        <h4><p style="text-align: left;">History</p></h4>

        <p style="text-align: left;">&#8226; 2014. 02 ~ 2021. 02: 컴퓨터공학과 재학 및 학사졸업<br>
        &#8226; 2014. 03 ~ 2015. 07: Interface Soft(소프트웨어 개발 학술동아리)<br>
        &#8226; 2015. 07 ~ 2017. 04: 육군 28사단 통신 단말병 복무<br>
        &#8226; 2019. 11 ~: Database Lab Manager<br>
        &#8226; 2019. 12: NHN Forward 2019<br>
        &#8226; 2019. 12: Samsung SDS Mentoring<br>
        &#8226; 2019. 12 ~ 2020. 02: Hibrain.net<br>
        &#8226; 2020. 04 ~: Wimmy App 출시<br>
        &#8226; 2020. 05 ~: Corona19 Busan App 출시<br>

        <br>

        <h2><p style="text-align: left;">Career</p></h2>

        <p style="text-align: left;">
          Ricky is client(Android, IOS, Windows) developer</p><br>

          <h4><p style="text-align: left;">History</p></h4>

        <p style="text-align: left;">&#8226; 2020. 07. 13 ~ : AI STT Client Developer (Android, Windows)<br>-->

		
        
        </div>    
</div>