<div class="container">
  <div class="user-details">
    <br>
    <img id="photo" alt="photo" src="https://user-images.githubusercontent.com/64367513/80499582-223aa080-89a8-11ea-8317-d8b8d59fbde1.png" style="border-radius: 50%;">
    <br>
    <h3>Jaehwan Lee (Ricky)</h3>
    <h5> AI Client Developer &#8226; Computer Engineering &#8226; Seoul, Korea &#8226; ljh951103@naver.co.kr</h5>
      
      <hr style="border: solid 0.3px rgb(190, 190, 190);"><br>
      <!--
    <h2><p style="text-align: left;">도전하는 개발자</p> </h2>
    <div class="myIntro">
      <p style="text-align: left;">
      <span class="myIntro_first">클라이언트 개발자가 되겠습니다.</span>
      <span>저는 학창시절, 막연하게 컴퓨터가 좋았고 무언가를 만드는 것이 굉장히 즐거웠습니다. 그래서 개발자가 되어야겠다는 목표를 갖고 컴퓨터공학과에 진학하였습니다. 이후, 개발하는 것이 즐거웠지만, 
        무엇을 개발할지에 대해 많은 고민을 하였습니다. 어떤 것에 가장 흥미를 느끼는지, 어떤 것에 자신이 있는지에 대한 뚜렷한 목표가 나오지 않았기 때문입니다.
        <br>웹 프로그램 개발, 시스템 개발, 모바일 앱 개발, 응용 프로그램 개발, 서버 관리 등 제가 수행해온 프로젝트들은 기본적이고 간단한 프로그램일 수도 있지만, 많은 경험을 겪으며 수도 없이 생각을 해보았습니다. 

        <br><span1 style="line-height:10%"><br></span1>그 해답은 클라이언트 개발이었습니다. 저는 사용자가 직접 사용하는 윈도우 GUI 프로그램이나 앱을 개발할 때가 가장 즐거웠고 매시간 열정을 쏟는 저의 모습을 발견할 수 있었습니다. 
        특히 다른 어떤 주제의 개발보다 클라이언트 개발을 진행하면서 4년간의 학습을 통해 배운 지식으로 문제에 대해 고민하고 이해하며 <span class="myIntro_point">문제 해결 능력</span>이 가장 크게 발전하고 있다는 것이 
        느껴졌습니다. 그만큼 누구보다 소프트웨어 개발에서 클라이언트 분야에 대해 <span class="myIntro_first">흥미가 많고 열정 가득한 개발자</span>라고 자부합니다.
          <br><span1 style="line-height:10%"><br></span>
        현재는 안드로이드, Windows 개발을 주 기술로 삼아 커리어를 쌓아가고 있습니다. 이후로는 여러가지 신 기술들이 접목되고 있는 
        점차 다양해지는 소프트웨어 시장에서 주목할만한 <span class="myIntro_first">최고의 인재</span>가 될 것입니다.</p>

        <br>-->
        
        <h2><p style="text-align: left;">School days</p></h2>

        <p style="text-align: left;">&#8226; Identity: Changwon National University, Computer Engineering, B.S.(Bachelor of Science) <br>
        &#8226; Overall GPA(총점) : 3.76/4.5<br>
        &#8226; Major GPA(전공 학점) : 4.2/4.5 </p><br>

        <h4><p style="text-align: left;">History</p></h4>

        <p style="text-align: left;">&#8226; 2014. 02 ~ 2021. 02: 컴퓨터공학과 재학 및 학사졸업<br>
        &#8226; 2014. 03 ~ 2015. 07: Interface Soft(소프트웨어 개발 학술동아리)<br>
        &#8226; 2015. 07 ~ 2017. 04: 육군 28사단 통신 단말병 복무<br>
        &#8226; 2019. 11 ~: Database Lab Manager<br>
        &#8226; 2019. 12: NHN Forward 2019 참가<br>
        &#8226; 2019. 12: Samsung SDS Mentoring<br>
        &#8226; 2019. 12 ~ 2020. 02: Hibrain.net<br>
        &#8226; 2020. 04 ~: Wimmy App 출시<br>
        &#8226; 2020. 05 ~: Corona19 Busan App 출시<br>

        <br>

        <h2><p style="text-align: left;">Career</p></h2>

        <p style="text-align: left;">
          Ricky is client(Android, IOS, Windows) developer</p><br>

          <h4><p style="text-align: left;">History</p></h4>

        <p style="text-align: left;">&#8226; 2020. 07. 13 ~ : AI STT Client Developer (Android, Windows)<br>

        <hr style="border: solid 0.3px rgb(190, 190, 190);">
</div>

