<div class="container">
	<div class="user-details">
	  <h4> Experience </h4>
	   <hr class="lineborderTop">
  
  
  <div class="row clearfix layout layout-left">
	<div class="leftArea"><h4>셀바스AI</h4>
  <a href="https://www.selvasai.com/" target="_blank" class="link">https://www.selvasai.com/</a><p><b>STT Lab. Solution part</b></p><p>2020.07 ~ 재직중</p></div>
	<div class="rightArea"><p class="quote">AI음성인식 솔루션 시스템 개발 및 유지보수, 운영<br>(AI회의록, AI의료녹취시스템, 공공기관 납품 솔루션 등)
  </p><ul>
	<li>MVVM 디자인을 활용한 WPF 애플리케이션 혹은 Winform 윈도우 애플리케이션 개발</li>
	<li>Chromium 웹 기반 윈도우 애플리케이션 개발</li>
	<li>Native C++ DLL 라이브러리 개발</li>
	<li>RestAPI 혹은 Socket 통신 개발</li>
	<li>Memory Mapping, 프로세스 통신, JNI 등을 통한 시스템 혹은 플랫폼간 인터페이스 개발</li>
	<li>Cloud 및 On-premise 환경 서비스 구축 및 운영</li>
	<li>제품 관리 및 외부 커뮤니케이션 등 부분PM 업무 수행</li>
  </ul>
	</div>
  </div>
  
  <div class="row clearfix layout layout-left">
	<div class="leftArea"><h4>하이브레인넷</h4>
  <a href="https://www.hibrain.net/" target="_blank" class="link">https://www.hibrain.net/</a><p><b>개발팀 인턴</b></p><p>2019.12 ~ 2020. 02 (약 3개월)</p></div>
	<div class="rightArea"><p class="quote">국내 연구인력 채용 커뮤니티 하이브레인넷 개발팀 인턴쉽
  </p><ul>
	<li>웹 서비스 DB 및 아키텍처 설계 참여</li>
  </ul>
  
	</div>
  </div>
  
  
	</div>
</div>