<div class="container">
	<div class="user-details">
	  <h4> Others </h4>
	   <hr class="lineborderTop">
  
  
  <div class="row clearfix layout layout-left">
	<div class="leftArea"><h4>기술 블로그</h4>
  <a href="https://hwanine.github.io/" target="_blank" class="link">https://hwanine.github.io/</a></div>
	<div class="rightArea"><p class="quote">개인 기술 블로그 운영 (Github.io)
  </p><ul>
	<li>개발 혹은 업무중 해결한 문제들이나 새로 습득한 개념들을 공유하고자 포스팅을 기록중입니다.</li>
	<li>애매하게 알고있던 지식들을 확실히 복습할 수 있게 되는 점이 가장 큰 도움이 된다고 생각합니다.</li>
    <li>현재 약 150건 포스팅이 공유되고있으며 지속적으로 기록할 예정입니다.</li>
  </ul>
	</div>
  </div>
  
  <div class="row clearfix layout layout-left">
	<div class="leftArea"><h4>자격증</h4></div>
	<div class="rightArea"><p class="quote">취득 자격증
  </p><ul>
	<li>정보처리기사</li>
    <li>컴퓨터활용능력 1급</li>
    <li>워드프로세서 1급</li>
  </ul>
  
	</div>
  </div>
  
  
	</div>
	<br><br>
  
	<br>
</div>