<div class="container">
  <div class="user-details">
    <h1> My Projects </h1>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Wimmy" src="{{ "/assets/img/pro/wimmy.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Wimmy - Where is my memory? </h5>
      <ul>
        <li>Android, Kotlin, XML, Firebase ML Kit, Google Map, MVVM, ACC, Multi Thread</li>
      </ul>
      <p>이미지 태그 및 특징/위치/날짜 분류를 통한 안드로이드 사진 관리 애플리케이션</p>
      <p>본 프로그램은 폴더, 특징, 날짜, 위치 별 관리가 가능합니다​.
        본 프로그램의 핵심인 태그는 이미지를 분석하여 자동으로 추출하거나, 사용자가 직접 추가, 수정, 삭제가 가능합니다.​
        이를 활용하여 캘린더에서 월별로 특징들을 확인하거나, 지도를 직접 돌아보며 특징을 확인할 수 있도록 분류된 사진에 중첩하여 태그에 대한 연관성을 극대화 하였습니다.
        </p><p>이를 통해 사용자의 사진들에 대한 접근성을 극대화한 것이 본 프로그램의 가장 큰 특징입니다.</p>
      <a class="project-link" href="https://github.com/hwanine/Wimmy-WhereIsMyMemory">Repo & Readme</a>
      <a class="project-link" href="https://play.google.com/store/apps/details?id=com.jtsoft.wimmy">App Link</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Leaning Group" src="{{ "/assets/img/pro/lg.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Leaning Group Application </h5>
      <ul>
        <li>Android, Java, XML, AWS, Php, MySQL, Apache</li>
      </ul>
      <p>Learning Group In Changwon N.Univ.는 창원대학교 학생들을 대상으로 편리하게 소모임 생성 및 참여를 할 수 있도록 하는 기능을 제공하는 애플리케이션입니다.</p>
      <p>저희 팀은 이와 같은 기존 소프트웨어의 단점을 해소하였고, 장점을 부각시켜 학업 관련 모임에 더욱 비중을 
        두어 학습과 관련된 카테고리들을 제공하고, 창원대학교 학생들의 커뮤니티 활성화를 통해 학생들 간의 활발한 교류의 
        발생과 모든 학생들이 학업 역량증진을 성취하는 것을 목표로 하였습니다.</p>
      <p><small>이 프로젝트는 소프트웨어 공학론의 Plan-driven, 폭포수 모델을 따라서 개발이 진행되었습니다.</small></p>
      <a class="project-link" href="https://github.com/hwanine/LeaningGroupApplication">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Epoxy Search" src="{{  "/assets/img/pro/epoxy.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Epoxy Search Project </h5>
      <ul>
        <li>C++, OpenCV, Visual Studio</li>
      </ul>
      <p>본 프로젝트는 콘크리트를 둘로 쪼갰을 때, 양쪽 콘크리트 단면에서의 에폭시라는 불순물을 검출하는 것을 목적으로 합니다.</p>
      <p>지질학과에서는 에폭시를 수동으로 일일이 검출한다는 것음 알게되었고, 심지어 한 쌍의 콘크리트를 분석하는데에 걸리는 소요시간이 약 3시간이 걸린다는 점을 발견하였습니다.
        따라서 그들에게 유용한 소프트웨어를 제공하고자 콘크리트-에폭시 파편 영상 분석 프로젝트를 수립하였습니다.</p>
      <a class="project-link" href="https://github.com/hwanine/OpenCV-EpoxySearchProject">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Operation System" src="{{ "/assets/img/pro/hamstore.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Operation System - Burger store </h5>
      <ul>
        <li> C, Linux, Visual Studio, OS</li>
      </ul>
      <p>OS에서 동작하는 각각의 요소(Process, Memory, Disk ...)들을 활용하여 가상의 OS를 햄버거가게에 대입하여 
        구현한 햄버거가게 운영 프로그램</p>
      <a class="project-link" href="https://github.com/hwanine/Operation-System-Hamstore">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Coffee ShopMall" src="{{ "/assets/img/pro/coffee.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Coffee ShopMall </h5>
      <ul>
        <li> HTML, PHP, MySQL, Apache</li>
      </ul>
      <p>원두를 상품으로 취급하는 수익 창출이 가능한 커피 원두 전문 판매 쇼핑몰 웹 사이트</p>
      <p>커피 소비량 및 소비자들의 고급제품 소비량을 충족시키기위해 일반매장에서는 구매 할수 없는 
        해외 커피 원두를 주로 판매하는 쇼핑 사이트를 개발하는 것이 최종 목표입니다.</p>
      <a class="project-link" href="https://github.com/hwanine/Coffee-ShopMall">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Crossing" src="{{ "/assets/img/pro/encryption.jfif" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Crossing Cryptographic Program </h5>
      <ul>
        <li> Java, Eclipse, Cryptography</li>
      </ul>
      <p>대칭키 암호화 알고리즘을 응용하여 각종 기법을 적절하게 효과적으로 결합한 복합적인 암호화 프로그램</p>
      <p>전치, 치환, 교차, 달팽이배열, XOR, 반복 연산 등의 여러 가지 기법들이 전부 따로따로 연산을 진행되는 것이 
        아닌 모든 기법들이 조화를 이루며 기법들 간에 시너지를 발생하여 연산이 진행되기 떄문에 강력한 알고리즘이라고 생각합니다.</p>
      <a class="project-link" href="https://github.com/hwanine/Crossing-Cryptographic-Program">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Database Design" src="{{ "/assets/img/pro/erd.bmp" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Database Design </h5>
      <ul>
        <li> Database, DA#</li>
      </ul>
      <p>무비넷이라는 사업모델의 시나리오를 정의하고, 
        이에따라 데이터 모델링을 통하여 데이터베이스 ERD 모델을 설계
        </p>
      <a class="project-link" href="https://github.com/hwanine/Database-Design">Repo & Readme</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="CheckSum" src="{{ "/assets/img/pro/checksum.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> CheckSum Project </h5>
      <ul>
        <li> Java, Eclipse, Checksum</li>
      </ul>
      <p>Checksum Project는 임의의 데이터들을 포함하고 있는 입력 파일을 읽어서 Checksum을 생성하고, 
        그에 맞는 결과 파일을 출력하도록 하는 프로젝트입니다. 본 프로그램은 사용자가 손 쉽게 체크섬을 생성하고 
        확인할 수 있도록 GUI 형태로 개발되었습니다.
        </p>
        <p>Checksum이란 네트워크를 통해서 전송된 데이터의 값이 변경되었는지를 검사하는 값입니다. 
          이러한 무결성을 통해서 네트워크를 통해서 수신된 데이터에 오류가 없는지 여부를 확인합니다.</p>
      <a class="project-link" href="https://github.com/hwanine/Checksum">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="My Paint" src="{{ "/assets/img/pro/paint.bmp" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Paint Project </h5>
      <ul>
        <li> C, C++, OpenGL, Visual Studio</li>
      </ul>
      <p>OpenGL 라이브러리를 활용한 그림판 프로그램</p>
      <a class="project-link" href="https://github.com/hwanine/OpenGL-MyPaintProject">Repo & Readme</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Piano" src="{{ "/assets/img/pro/piano.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Piano Project </h5>
      <ul>
        <li> Java, Eclipse</li>
      </ul>
      <p>기존의 피아노에서 피아노 있는 건반을 가상화하여 가상 건반을 마우스나 키보드로 입력하여 
        실제 피아노처럼 연주할 수 있도록 하는 가상 피아노 프로그램
        </p>
      <a class="project-link" href="https://github.com/hwanine/PianoProject">Repo & Readme</a>
    </div>
  </div>
  <element class="upbt">
  <a class="footer-up" href="#about" data-scroll><i class="icon fa fa-angle-double-up" aria-hidden="true"></i></a>
  </element>
</div>
