<div class="container">
  <div class="user-details">
		<h4> Projects </h4>
		 <hr class="lineborderTop">
      
    <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Selvy MediVoice</h4>
      <a href="https://medivoice.selvy.ai/" target="_blank" class="link">https://medivoice.selvy.ai/</a><p><b>AI의료녹취 솔루션</b></p><p>2020.09 ~ </p></div>
	<div class="rightArea"><p class="quote">병원 의사들에게 제공하는 AI의료녹취 솔루션<br>여러 고객사의 니즈에 따라 현재까지 시스템 개발 및 반영을 하고 있으며, 클라우드 서비스를 운영하고있습니다.</p><ul>
        <li>C#, WPF, MVVM 시스템 개발 및 고도화</li>
        <li>Node.js 기능별 서버 모듈 개발 및 고도화</li>
        <li>타 의료 시스템과의 프로세스 통신 인터페이스 개발</li>
        <li>데이터 전사 작업을 위한 속기사용 제품 신규 개발</li>
        <li>클라우드 및 의료 현장 서비스 운영</li>
	</ul>
	  </div>
	</div>
    
    <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Selvy Note</h4>
      <a href="https://www.selvy.ai/note" target="_blank" class="link">https://www.selvy.ai/note</a><p><b>AI회의록 솔루션</b></p><p>2021.03 ~ </p></div>
	<div class="rightArea"><p class="quote">공공/민간에 납품하기위한 AI음성인식 회의록 솔루션<br>초기 개발부터 시작하여 다양한 도메인과 고객사 니즈에 맞추어 시스템을 개발 및 운영하고 있습니다.</p><ul>
    	<li>C#, WPF, MVVM 시스템 개발</li>
        <li>C++ DLL 개발, Java/C# 연동 인터페이스 개발</li>
        <li>Native 브라우저 포팅 후 Native로직 <-> View 분리 연동 처리</li>
        <li>Web FrontEnd JS스크립트 로직 개발</li>
        <li>시스템 통합 인스톨러 모듈 개발, 솔루션 패키징</li>
		<li>GS인증 시험을 위한 담당자로 참여</li>
        <li>외부 마이크 하드웨어 업체 협업 -> STT최적화 성능 향상 기여</li>
	</ul>
	  </div>
	</div>
    
    <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Selvy Note (경찰청)</h4>
      <a href="https://www.selvy.ai/note" target="_blank" class="link">https://www.selvy.ai/note</a><p><b>AI음성인식 피해조서 작성시스템</b></p><p>2020.11 ~ </p></div>
	<div class="rightArea"><p class="quote">경찰청에 납품한 AI회의록 솔루션<br>유지보수 및 1~4차수 현재까지 시스템 개발 및 운영하고 있습니다.</p><ul>
        <li>C#, WPF, MVVM 시스템 개발</li>
        <li>Native 브라우저 포팅 후 Native로직 <-> View 분리 연동 처리</li>
        <li>Web FrontEnd JS스크립트 로직 개발</li>
        <li>시스템 운영, 고도화</li>
	</ul>
	  </div>
	</div>  
      
    <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Tools</h4>
      <p><b>다수의 운영 툴</b></p></div>
	<div class="rightArea"><p class="quote">효율적으로 자사 솔루션을 운영하기 위한 각종 툴 개발</p>
  <ul>
	  <li>Custom DB 툴, 음성 멀티채널 분리 툴, 특징 문자열 추출 후 자동 문서화 툴 등 개발</li>
	</ul>
	  </div>
	</div>
      
      <br>
      <hr class="lineborderTop" style="border: dashed 0.1px rgb(230, 230, 230);">
    <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Corona Busan App</h4>
      <a href="https://github.com/hwanine/CoronaBusan" target="_blank" class="link">https://github.com/hwanine/CoronaBusan</a><p><b>코로나 알리미 안드로이드 앱</b></p><p>2020.06 ~ 2020.08</p></div>
	<div class="rightArea"><p class="quote">코로나 알리미 안드로이드 애플리케이션(1인 개발).</p><ul>
	  <li>AAC의 MVVM 디자인패턴과 DataBinding을 통해 View와 ViewModel 종속성 분리</li>
      <li>RxJava 반응형 프로그래밍으로 비동기 처리</li>
      <li>RestAPI 및 크롤링 데이터 처리, 파싱 및 가공</li>
	  <li>푸시 알리미 구현</li>
	</ul>
	  </div>
	</div>
    
         <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Wimmy App</h4>
      <a href="https://github.com/hwanine/Wimmy-WhereIsMyMemory" target="_blank" class="link">https://github.com/hwanine/Wimmy-WhereIsMyMemory</a><p><b>사진관리 안드로이드 앱</b></p><p>2020.02 ~ 2020.07</p></div>
	<div class="rightArea"><p class="quote">머신러닝과 태깅시스템을 활용한 사진 관리 안드로이드 애플리케이션(2인 개발).</p><ul>
	  <li>AAC의 MVVM 디자인패턴과 LiveData로 구조화</li>
      <li>멀티쓰레드를 통한 다수의 데이터 성능 제어</li>
      <li>디바이스 접근권한 제어</li>
	  <li>Vision 머신러닝 활용 및 메타데이터 태깅시스템</li>
	</ul>
	  </div>
	</div>
    
  </div> 
</div>