<div class="container">
	<div class="user-details">
		  <h4> Projects </h4>
		   <hr class="lineborderTop">

		<div class="row clearfix layout layout-left">
		<div class="leftArea"><h4>첨단ICT 기반 스마트 의료시스템 구축</h4>
			<a href="https://n.news.naver.com/mnews/article/008/0005049560?sid=101" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
			<a href="http://www.itdaily.kr/news/articleView.html?idxno=217668" target="_blank" class="link">프로젝트 관련</a><span>,</span>
			<a href="https://medivoice.selvy.ai/" target="_blank" class="link">제품 정보</a>             
		<p><b>AI의료녹취 솔루션</b></p><p>2024.01 ~ 현재</p></div>
		<div class="rightArea"><p class="quote">삼성서울병원의 스마트 의료시스템을 위한 차세대 의료녹취 시스템 구축과<br>맞춤 기능 개발하고 있습니다.</p><ul>
			<li>윈도우 클라이언트 기능 개발 (C# WPF)</li>
			<li>차세대 음성인식 엔진 연동 인터페이스 개발</li>
			<li>커서 기반 음성 받아쓰기 기능 모듈 개발 (C# DLL)</li>
		</ul>
		</div>
		<br>
		<div class="rightArea"><p class="quote">국군의무사령부의 국방의료정보체계(NDEMIS) 시스템과 연계하여<br>의료녹취 시스템 VoiceEMR 구축을 목표로 개발하고 있습니다.</p><ul>
			<li>윈도우 클라이언트 기능 개발 (C# WPF)</li>
			<li>국방의료정보체계(NDEMIS) 통신 인터페이스 개발 (C# WPF, Oracle DB)</li>
		</ul>
		</div>
		</div>

	  <div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Selvy Note 3.0 개발</h4>
      <a href="https://blog.naver.com/selvasai/223109415793" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
	  <a href="https://www.selvy.ai/note" target="_blank" class="link">제품 정보</a>  
       <p><b>AI회의록 솔루션</b></p><p>2023.03 ~ 2024.02 (약 8개월)</p></div>
	  <div class="rightArea"><p class="quote">AI음성인식 회의록 솔루션 SelvyNote 3.0 리드 개발을 수행하였습니다.</p><ul>
		  <li>C#, Java(Android) 에서 음성인식 엔진을 사용하기위한 C++ DLL (SDK) 개발</li>
		  <li>플랫폼 간 데이터 통신 인터페이스 개발(JNI, Win32)</li>
		  <li>다 화자 음성인식 시스템 개발(Multi Threading)</li>
		  <li>기능 모듈 플러그인 윈도우 서비스 개발</li>
		  <li>배치 기반 윈도우 인스톨러 개발</li>
		  <li>마이크 H/W 보드 연동 및 성능 개선 협업</li>
	  </ul>
	  <p class="quote">업무 성과</p><ul>
		  <li>B2B 사업에 앞서 SDK 범용성 확대 및 간소화(Java, C#)</li>
		  <li>제품 구축 초기 작업시간 단축, 빠른 제품 공급 프로세스 구축</li>
		  <li>On-Device AI 제품 구축</li>
	  </ul>
	  <p class="quote">협업 회사</p><ul>
		  <li><a href="http://www.amosense.co.kr/wp/" target="_blank" class="link">Amosense</a></li>
	  </ul>
	  </div>
	  </div>
  
	  <div class="row clearfix layout layout-left">
		  <div class="leftArea"><h4>Selvy Note 2.0 개발</h4>
            <a href="https://blog.naver.com/selvasai/222842685409" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
	  		<a href="https://www.selvy.ai/note" target="_blank" class="link">제품 정보</a>  
          <p><b>AI회의록 솔루션</b></p><p>2021.03 ~ 2023.02 (약 12개월)</p></div>
		  <div class="rightArea"><p class="quote">AI음성인식 회의록 솔루션 SelvyNote 2.0 개발 및 제품화, 커스터마이징을 수행하였습니다.</p><ul>
			  <li>윈도우 클라이언트 개발 및 웹 이벤트 통신부 개발(C# WPF, Hybrid App)</li>
			  <li>기능 개발, 실시간 데이터 통신 및 UI 처리(Web FrontEnd)</li>
			  <li>음성신호 분리 HTTP서버 개발(C#, RestAPI)</li>
			  <li> <a href="https://hwanine.github.io/work/TTA-GS/" target="_blank" class="link">TTA주관 GS인증 시험 참여 및 결함 개선</a></li>
			  <li>고객사별 요구 기능 커스터마이징 개발</li>
		  </ul>
		  <p class="quote">업무 성과</p><ul>
			  <li>GS인증 1등급 취득, 성공적인 제품 런칭</li>
			  <li>대형 공공기관 4건, 민간업체 2건 (100대 이상의 서버 솔루션 납품)</li>
			  <ul>
				<li>보건복지부, 특허청, 법무부, 대형로펌 등</li>
			  </ul>
		  </ul>
		  </div>
		  </div>
  
		<!--
	  <div class="row clearfix layout layout-left">
		  <div class="leftArea"><h4>AI회의록 프로토타입 개발</h4>
            <a href="https://www.srtimes.kr/news/articleView.html?idxno=93898" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
	  		<a href="https://www.selvy.ai/note" target="_blank" class="link">제품 정보</a>  
       <p><b>AI회의록 데모 솔루션</b></p><p>2021.03 ~ 2021.06 (약 4개월)</p></div>
		  <div class="rightArea"><p class="quote">AI음성인식 회의록 솔루션 프로토타입 개발을 수행하였습니다.</p><ul>
			  <li>표준 회의록 제품 기능 및 UI/UX 개발(Web FrontEnd, C# WPF)</li>
			  <li>클라이언트 다화자 녹음 및 인식 시스템 개발(C# WPF, C++)</li>
		  </ul>
		  <p class="quote">업무 성과</p><ul>
			  <li>AI Expo 회의록 솔루션 출품</li>
			  <li>대형 민간업체 첫 회의록 제품 공급(스마트 선박)</li>
		  </ul>
		  </div>
		  </div>-->
	  <div class="row clearfix layout layout-left">
		  <div class="leftArea"><h4>AI피해조사 솔루션 고도화</h4>
            <a href="https://blog.naver.com/selvasai/223201837687" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
	  		<a href="https://www.selvy.ai/note" target="_blank" class="link">제품 정보</a>  
          <p><b>AI회의록(피해조사) 솔루션</b></p><p>2020.11 ~ 2023.12 (약 37개월)</p></div>
		  <div class="rightArea"><p class="quote">경찰청에 납품하여 운영중인 AI피해조사 시스템 고도화를 수행하였습니다.</p><ul>
			  <li>1~4 차수별 요구 기능에 대한 고도화 개발 진행(Web FrontEnd, C# WPF)</li>
			  <li>ITN, Chat 시스템 등 추가 모듈 인터페이스 개발(C# WPF)</li>
			  <li>초기 시스템 및 고도화 시스템 구축</li>
		  </ul>
		  <p class="quote">업무 성과</p><ul>
			  <li>초기 납품 및 운영 안정화</li>
			  <li>개발 및 운영 신뢰성 확보로 2~4차 고도화건 계약</li>
			  <li>형사사법정보시스템 신규 계약</li>
		  </ul>
		  <p class="quote">협업 회사</p><ul>
			  <li><a href="https://www.skelterlabs.com/" target="_blank" class="link">Skelter Labs</a></li>
		  </ul>
		  </div>
		  </div>
  
	  <div class="row clearfix layout layout-left">
		  <div class="leftArea"><h4>Selvy MediVoice 고도화</h4>
             <a href="https://n.news.naver.com/mnews/article/015/0004935104?sid=105" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
	  		<a href="https://medivoice.selvy.ai/" target="_blank" class="link">제품 정보</a>             
		 <p><b>AI의료녹취 솔루션</b></p><p>2020.08 ~ 현재</p></div>
		  <div class="rightArea"><p class="quote">여러 고객사(병원) 및 이용자의 니즈에 따라 현재까지<br>Selvy MediVoice 시스템 유지보수와 개발 고도화를 수행하고 있습니다.</p><ul>
			  <li>윈도우 클라이언트 개발 및 시스템 유지보수(C# WPF)</li>
			  <li>서버 모듈 개발 유지보수(BackEnd Node.js)</li>
			  <li>고객사 및 이용자 요구 기능 개발</li>
			  <li>다수의 EMR 업체와 프로세스 통신부 협업(IPC)</li>
		  </ul>
		  <p class="quote">업무 성과</p><ul>
			  <li>제품 납품 고객사(병원) 확대</li>
			  <li> <a href="https://blog.naver.com/selvasai/223128588687" target="_blank" class="link">작년 기준 Cloud 서비스 이용자 30% 증가</a></li>
		  </ul>
		  <p class="quote">협업 회사</p><ul>
		  <li><a href="https://www.infinitt.com/?device=pc&ctr=a_kor" target="_blank" class="link">INFINITT Healthcare</a></li>
		  </ul>
		  </div>
		  </div>
  
	  <div class="row clearfix layout layout-left">
		  <div class="leftArea"><h4>Selvy MediVoice 전사판독 제품 개발</h4>
            <a href="https://www.paxetv.com/news/articleView.html?idxno=123653" target="_blank" class="link">프로젝트 관련</a><span>,</span> 
	  		<a href="https://medivoice.selvy.ai/" target="_blank" class="link">제품 정보</a>     
          <p><b>AI의료녹취 솔루션</b></p><p>2021.05 ~ 2021.11 (약 6개월)</p></div>
		  <div class="rightArea"><p class="quote">고객사(병원) 니즈에 따라 SelvyMediVoice 전사 판독 제품 개발을 수행하였습니다.<br></p><ul>
			  <li>윈도우 클라이언트 기능 및 UI/UX 개발(C# WPF)</li>
			  <li>EMR시스템 연동 데이터 기반 제어 시스템 개발(C# WPF)</li>
			  <li>EMR 데이터 통신 기능 개발(RestAPI)</li>
			  <li>제품 릴리즈 및 인스톨러 패키징</li>
		  </ul>
		  <p class="quote">업무 성과</p><ul>
			  <li>제품 출시 및 공급 솔루션 확장</li>
			  <li>대형병원 2건 납품 완료</li>
			  <ul>
				<li>한양대병원, 대구파티마병원</li>
			  </ul>
		  </ul>
		  <p class="quote">협업 회사</p><ul>
		  <li><a href="https://www.infinitt.com/?device=pc&ctr=a_kor" target="_blank" class="link">INFINITT Healthcare</a></li>
		  </ul>
		  </div>
		  </div>
  
 
	  <div class="row clearfix layout layout-left">
		  <div class="leftArea"><h4>AI음성인식 솔루션 유지보수, 운영 및 고객사 대응</h4>
		  <a href=" https://www.selvasai.com/stt" target="_blank" class="link">서비스 제품 정보</a><p><b>음성인식 제품 운영 및 고도화 및 툴 개발</b></p><p>2020.08 ~ 현재</p></div>
		  <div class="rightArea"><p class="quote">자사 AI음성인식 제품을 유지보수하고 서비스 운영 및 고객사 대응 업무를 수행하고 있습니다.<br></p><ul>
			  <li>AI음성인식 솔루션 시스템 유지보수</li>
			  <li>서비스 운영 및 고객사 대응, AS</li>
			  <li>솔루션 운영 관리 및 자동화 툴 개발(DB 관리, 데이터 학습, 음성신호 분리 모듈 등)</li>
			  <li>Agent 윈도우 서비스 개발</li>
		  </ul>
		  <p class="quote">업무 성과</p><ul>
			  <li>시스템 및 서비스 운영 안정화</li>
			  <li>서비스 운영 및 관리 체계 구축</li>
		  </ul>
		  </div>
		  </div>
		
		<br>
		<hr class="lineborderTop" style="border: dashed 0.1px rgb(230, 230, 230);">
	  <div class="row clearfix layout layout-left">
		<div class="leftArea"><h4>Corona Busan App</h4>
		<a href="https://github.com/hwanine/CoronaBusan" target="_blank" class="link">https://github.com/hwanine/CoronaBusan</a><p><b>코로나 알리미 안드로이드 앱</b></p><p>2020.06 ~ 2020.08</p></div>
	  <div class="rightArea"><p class="quote">코로나 알리미 안드로이드 애플리케이션 개발을 수행하였습니다 (1인 개발).</p><ul>
		<li>AAC의 MVVM 디자인패턴과 DataBinding을 통한 View 종속성 분리</li>
		<li>RxJava 반응형 프로그래밍으로 비동기 처리</li>
		<li>RestAPI 및 크롤링 데이터 처리, 파싱 및 가공</li>
		<li>푸시 알리미 구현</li>
	  </ul>
		</div>
	  </div>
	  
		   <div class="row clearfix layout layout-left">
		<div class="leftArea"><h4>Wimmy App</h4>
		<a href="https://github.com/hwanine/Wimmy-WhereIsMyMemory" target="_blank" class="link">https://github.com/hwanine/Wimmy-WhereIsMyMemory</a><p><b>사진관리 안드로이드 앱</b></p><p>2020.02 ~ 2020.07</p></div>
	  <div class="rightArea"><p class="quote">머신러닝과 태깅시스템을 활용한 사진 관리 안드로이드 애플리케이션 개발을 수행하였습니다 (2인 개발).</p><ul>
		<li>AAC의 MVVM 디자인패턴과 LiveData로 구조화</li>
		<li>멀티쓰레드를 통한 다수의 데이터 성능 제어</li>
		<li>디바이스 접근권한 제어</li>
		<li>Vision 머신러닝 활용 및 메타데이터 태깅시스템</li>
	  </ul>
		</div>
	  </div>
	  
	</div> 
  </div>