
<div class="container">
	<div class="user-details">
		<h4> Skills </h4>
		 <hr class="lineborderTop">
	
	
	<div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>Develop</h4>
	<p>개발 프로젝트에 사용중인 <br>주요 개발 기술 키워드입니다.</p></div>
	  <div class="rightArea"><p class="quote">Application</p><ul>
	  <li>C#, WPF, MVVM, Winform, Loc, Xaml </li>
	  <li>RestAPI, Socket, IPC, Chromium</li>
	  <li>Android, Java, Kotlin</li>
	  <br>
	  <p class="quote">Native</p>
	  <li>C++, C, DLL, JNI, Shared Memory</li>
	  <li>Installer Package, Windows Service, SDK</li>
	  <br>
	  <p class="quote">Web</p>
	  <li>Java, Spring, Jar</li>
	  <li>Javascript, JQuery, Ajax</li>
	
	</ul>
	  </div>
	</div>
	
	<div class="row clearfix layout layout-left">
	  <div class="leftArea"><h4>DevOps</h4>
	<p>제품 관리 및 운영에 사용중인 <br>주요 기술 키워드 입니다.</p></div>
	  <div class="rightArea"><p class="quote">관리</p><ul>
	  <li>Github, Jira, Confluence</li>
	  <li>Github Actions(CI), Jenkins, CodeSign, NUnit</li>
	  <br>
	  <p class="quote">운영</p>
	  <li>PM</li>
	  <li>MariaDB, PostgreSQL, Docker</li>
	  <li>Apache, Tomcat, node.js, pm2, NBug</li>
	</ul>
	  </div>
	</div>
	
	  </div>
</div>
