<div class="user-details">
  <h1> Skills </h1><br>
  <p> {{site.user_description}} </p>
</div>
<div class="usertech">
  <div class="tech">
    <h3>Language</h3>
  <table class="tech_table">
    <style> td,tr{padding:0px;}
    td{text-align:center; valign:top;}
    table{border:0}</style>
    <tr>
      <td><img src="../assets/img/apps/Language/c.jpg.png" class="techImg"></td>
      <td><img src="../assets/img/apps/Language/c++.jpg.png" class="techImg"></td>
      <td><img src="../assets/img/apps/Language/java.jpg.png" class="techImg"></td>
      <td><img src="../assets/img/apps/Language/kotlin.jpg.png" class="techImg"></td>
    </tr>
    <tr>
      <td>C</td>
      <td>C++</td>
      <td>Java</td>
      <td>Kotlin</td>
    </tr>
  </table>
  <br>
  <h4>Script Language</h4>
  <table class="tech_table">
    <style> td,tr{padding:0px;}
    td{text-align:center; valign:top;}
    table{border:0}</style>
    <tr>
      <td><img src="../assets/img/apps/Language/xml.jpg.png" class="techImg"></td>
      <td><img src="../assets/img/apps/Language/php.jpg.png" class="techImg"></td>
      <td><img src="../assets/img/apps/Language/jsp.jpg.png" class="techImg"></td>
    </tr>
    <tr>
      <td>Xml</td>
      <td>Php</td>
      <td>Jsp</td>
    </tr>
  </table>
  </div>
  <br>

  <div class="tech">
    <h3>DataBase</h3>
  <table class="tech_table">
    <tr>
      <td><img src="../assets/img/mongo.png" class="techImg"></td>
      <td><img src="../assets/img/mysql.jpg" class="techImg"></td>
    </tr>
    <tr>
      <td text-align=center valign=top>mongoDB</td>
      <td text-align=center valign=top>mySql</td>
    </tr>
  </table>
  </div>
  <br>

  <div class="tech">
    <h3>Server/Technology</h3>
  <table class="tech_table">
    <tr>
      <td><img src="../assets/img/mybatis_logo.jpg" class="techImg"></td>
      <td><img src="../assets/img/spring_logo.png" class="techImg"></td>
      <td><img src="../assets/img/nodejs.png" class="techImg"></td>
      <td><img src="../assets/img/ApacheTomcat.png" class="techImg"></td>
      <td><img src="../assets/img/Bootstrap.png" class="techImg"></td>
      <td><img src="../assets/img/ajax.png" class="techImg"></td>
    </tr>
    <tr>
      <td>Mybatis</td>
      <td>Spring</td>
      <td>Node.js</td>
      <td>Tomcat</td>
      <td>Bootstrap</td>
      <td>Ajax</td>
    </tr>
  </table>
  </div>
  <br>

  <div class="tech">
    <h3>IDE</h3>
    <table class="tech_table">
    <tr>
      <td><img src="../assets/img/vscode.jpg" class="techImg"></td>
      <td><img src="../assets/img/eclipes_logo.png" class="techImg"></td>
      <td><img src="../assets/img/sourcetree_logo.png" class="techImg"></td>
      <td><img src="../assets/img/github.jpg" class="techImg"></td>
    </tr>
    <tr>
      <td>Vscode</td>
      <td>Eclipes</td>
      <td>Sourcetree</td>
      <td>Github</td>
    </tr>
  </table>
</div>
<br>
</div>
